@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

.slide {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

#my-work .fp-overflow {
  overflow: visible !important;
}
